*{
    text-decoration: none;
}
.nav{
    display:  flex;
    border: none;
    background-color:darkblue;
    padding: 10px;
    position: sticky;
    top: 0;
}
.nav1{
    margin-left: 30px;
    color: white;
}
.navbar{
    display: flex;
    gap: 35px;
    margin-left: 30%;
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
    color: white;
    cursor: pointer;
}
.p{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.p1{
    color: white;
    text-align: center;
    font-weight: bold;

}

.button{
    color: white;
    background-color:darkblue;
    justify-content: center;
    margin-left: 45%;
    height: 50px;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
}

.body{
    background-color:rgb(22, 22, 55);
    margin-top: 0%;
    padding: 20px;
}

.about{
    text-align: center;
    color: black;
    background-color:rgb(38, 33, 69);
    padding: 60px;
    margin: 30px;
    color: white;
}
.p2{
    
    text-align: center;
    font-size: x-large;
    
}

.p3{
     font-size: 50px;
    font-weight: bold;
    text-align: center;

}
.p4{
    text-align: center;
    font-size: x-large;
    margin: 50px;
}
.skil{
    width: 300px;
    height: 350px;
    overflow: scroll;
    text-align: center;
}
.p5{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding: 30px;
}
.p6{
    text-align: center;
    font-size: x-large;
    padding: 30px;
}
.p7{
    text-align: center;
    font-size: x-large;   
    height: 300px;
    width: 700px;
}
.box{
    text-align: center;
    margin: 10px;
    padding: 20px;
    border:none;
    height: 100;
    width: 250px;
    background-color: white;
    box-shadow: 0  6px 60px rgb(122, 52, 122);
}
.box:hover{
    transform: translatex(5px);
    box-shadow: 0 5px 50px rgb(217, 16, 217);


}
.education{

    display: flex;
    justify-content: space-evenly;
    
}
.Contact{
    text-align: center;
    margin: 20px;
    padding: 30px;
    width: 500px;
    justify-content: center;
    margin-left: 35%;
    margin-top: 10%;

    box-shadow: 0  6px 60px rgb(167, 18, 167);
}

.send{
    background-color: darkblue;
    height: 30px;
    width: 300px;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 10px;
    margin-left: 92px;
    align-items: center;
}
.f1{
    margin-left: 20px;
}
.f2{
    align-items: center;
    display: flex;
    justify-content: end;
    gap: 50px;
    margin-left: 30%;

    color: white;
}

.footer{
    background-color: rgb(24, 24, 67);
    display: flex;
    color: white;
    height: 250px;


}
